---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footers/Footer.astro";
import Shop from '../components/Templates/Shop'
import {productosDisponibleStock} from '../sources/Stock-linear'

---
<Layout title="Shop">
    <div class="productos">
        <Shop productos={productosDisponibleStock}  client:load/>
    </div>        
    <Footer/>
</Layout>

<style>
   
</style>