
    :root{
        --black:#0c0c0c;
        --white: #f5f5f5;
        --grey: rgb(220, 220, 220);
        --amarillo:rgb(255, 255, 40);
        --bg-amarillo: rgb(228, 228, 34);
        --shadow-amarillo: rgb(190, 190, 17);


    }

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
        font-family:'Roboto', sans-serif;

    }

    .carrito{
      position: fixed;
      top: 90%;
      left: 95%;
      transform: translateX(-3em);
      z-index: 1000;
      background-color: var(--white);
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5em;
      height: 5em;
      border-radius: 50%;
      color: var(--black);
      /* outline: 2px solid var(--black); */
      animation-name: blur;
      animation-duration: 2s;
      animation-delay: 2s;
      animation-iteration-count:infinite;
      animation-timing-function:ease-in;
    }

    @keyframes blur {
      0% {box-shadow: 0 0 0 0px var(grey);}
      25% {box-shadow: 0 0 0 0px var(grey);}
      50% {box-shadow: 0 0 5px 10px rgba(190, 190, 190, 0.4);}
      75% {box-shadow: 0 0 10px 10px rgba(190, 190, 190, 0.2);}
      100% {box-shadow: 0 0 20px 10px rgba(190, 190, 190, 0);}
    }

    /* carrito */

    .numero-carrito{
      position: absolute;
      top: 0;
      right: 0;
      background-color: var(--grey);
      outline: 1px solid rgba(46, 46, 46, .3);
      width: 2em;
      height: 2em;
      text-align: center;
      padding: .4em;
      border-radius: 50%;
      color: var(--black);
      font-size: .9em;
    }

    .numero-carrito-off{
      opacity: 0;
    }

    .logo-carrito{
      transform: translateX(12px);
      font-size: 2em;
      transition: transform ease-in-out .2s;

    }

    .arrow{
      transform: translateX(-10px);
      opacity: 0;
      transition: transform ease-in-out .2s,opacity ease-in-out .2s ;
    }

    .carrito:hover > .logo-carrito{
      transform: translateX(5px);
    }

    .carrito:hover > .arrow{
      transform: translateX(0px);
      opacity: 1;
    }

    /* Seccion de artículos */
    section > .h3, section > .articulos-container > .h3 {
      display: flex;
      align-items: center;
      gap: .5em;
      padding: .5em 1.2em;
      font-size: 2em;
      margin: 3em 0em 0;
      text-transform: uppercase;
    }

    section > .h3 > span, section >  .articulos-container > .h3 > span{
      font-size: 1.2em;
    }

    .productos-container{
      width: 95%;
      margin: auto;
      overflow: hidden;
    }

   
    .articulos-container,
    .articulos , 
    #articulosAl, 
    .articulos-container__articulos-slider{
      width: 100%;
      position: relative;
      align-items: center;
      display: flex;
      gap: .2em;
      padding: 0 2em;
      scroll-behavior: smooth;
    }


    .articulos-container{
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 5em;
    }

    #articulosAl{
      justify-content: center;
      flex-wrap: wrap;
      gap: .8em;
      margin-top: 1.5em;
    }

    .articulos > div{
      min-width: 25em;
    }

    #articulosAl > div:nth-child(1), 
    #articulosAl > div:nth-child(4),
    #articulosAl > div:nth-child(5){
      flex: 4 0 35em;
      height: 45em;
    }

    #articulosAl > div:nth-child(2), 
    #articulosAl > div:nth-child(3),
    #articulosAl > div:nth-child(6){
      flex: 1 0 35em;
      height: 45em;
    }  

    
    /* Cards */


    .producto-card, 
    .producto-card-Al{
        position: relative;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(255, 255, 255);
    }

    .producto-card-Al{
      justify-content: space-between;
      padding-bottom: 1em;
      gap: 1em;
    }

    .calificacion{
      padding: .5em;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .3em;
      margin: .3em;
      cursor: pointer;

    }

    .destacados{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 8em;
      position: absolute;
      background-color: rgb(230, 50, 50);
      color: white;
      font-size: 1em;
      z-index: 1000;
      left: 1em;
      top: -.5em;
      box-shadow: 5px 5px 15px rgb(12, 12, 12, .2);

    }

    .destacados > p{
      padding: .5em;
    }

    .destacado{
      font-weight: 600;
    }

    
    .calificaion-numero{
      padding-top: .2em;
      font-size: 1.25em;
      opacity: 0;
      transform: translate(-3px);
      transition: transform ease-in-out .2s, opacity ease-in-out .2s;
    }

    .calificacion > .star{
      transform: translate(-1.25em) scale(1.5);
      transition: transform ease-in-out .2s;

    }

    .calificacion:hover >  .star{
      transform: translate(0em) scale(1);
      
    }

    .calificacion:hover > .calificaion-numero{
      opacity: 1;
      transform: translate(2px);
    }


    

    /* slider inicio */

    .articulos{
      overflow: hidden;
      padding: 0;
      outline: 1px solid var(--black);
    }

    .container-slider-Al, .container-slider{
      width: 100%;
      position: relative;
      overflow: hidden;
    }
    .container-slider-Al{
      height: 80%;
    }

    .container-slider{
      height: 100%;
    }

    .slider-Al, .slider{
        display: flex;
        width: 300%;
        margin-left: 0;
        transition: margin-left ease-in-out .2s;
        height: 100%;
    }

    .slider-Al{
      background-image: url('/public/images/Destacado.png');
      background-size: contain;
    }

    .slider__section-Al, .slider__section{
      height: 100%;
      width: 100%;
      background-color: rgb(250, 250, 250);

    }

    .slider__section-Al{
      background-color: transparent;
    }

    .slider__section-Al > img.al{
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: 50% 50%;
      filter: drop-shadow(5px 5px 5px rgba(0,0,0,.2));
    }

    .slider__section > img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }


    .input-img{
        position: absolute;
        z-index: 100;
        bottom: 0;
        right: .5em;
        width: 1em;
        height: 1em;
        cursor: pointer;
        -webkit-appearance: none;
        appearance: none;
        background-color: rgba(50, 50, 50, .5);
        color: currentColor;
        border-radius: 50%;
        transform: translateY(-.5em);
    }

    .input-img:checked{
        background-color: rgba(10, 10, 10, .8);
    }

    .input-01{
        margin-right: 4em;
    }

    .input-02{
        margin-right: 2.5em;
    }
    .input-02:checked ~ .slider, .input-02:checked ~ .slider-Al{
        margin-left: -100%;   
    }


    .input-03{
        margin-right:1em;
    }
    .input-03:checked ~ .slider, .input-03:checked ~ .slider-Al{
        margin-left: -200%;   
    }

    /* fin slider */

    .producto-card:hover, .producto-card-Al:hover{
        outline: 1px solid var(--black);

    }


    .datos-card{
        position: relative;
        padding: 2em .5em .5em .5em;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: .5em;
        background-color: white;
        border-top: 1px solid rgba(0, 0, 0, .1);
    }

    .nombre{
      font-size: .9em;
    }

    .talle,
    .marca{
        font-size: .7em;
        text-transform: uppercase;
    }

    .btn-agregar-carrito, .btn-agregar-carritoAl{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 75%;
        border: none;
        background-color: var(--grey);
        margin: 1em auto 0;
        padding: .7em;
        font-size: 1em;
        cursor: pointer;
        transition: color ease-in-out .2s, background-color ease-in-out .2s, transform ease-in-out .2s ;
    }

    

    .btn-agregar-carrito:hover, .btn-agregar-carritoAl:hover{
        color: white;
        background-color: var(--black);
    }

    .btn-agregar-carrito > p, .btn-agregar-carritoAl > p{
        transform: translateX(1em);
        transition: transform ease-in-out .2s;
    }
    .btn-agregar-carrito:hover > p, .btn-agregar-carritoAl:hover > p{
        transform: translateX(0em);    
    }

    .cart-add{
        transform: translateX(-1em);
        opacity: 0;
        font-weight: 200;
        transition: transform ease-in-out .2s, opacity ease-in-out .2s;

    }
    .btn-agregar-carrito:hover > .cart-add, .btn-agregar-carritoAl:hover > .cart-add{
        transform: translateX(.2em);
        opacity: 1;
    }

    .producto-card:hover > .datos-card > .btn-agregar-carrito, 
    .producto-card-Al:hover > .datos-card > .btn-agregar-carritoAl{
        transform: scale(1.04);
    }

    .precio, .precio-Al{
        position: absolute;
        top: -1em;
        padding: .5em;
        background-color: white;
        color: var(--black);
        font-weight: 300;
        font-size: .85em;
        transition: transform ease-in-out .2s;
    }

    

    .producto-card:hover > .datos-card > .datos-card-text > .precio, 
    .producto-card-Al:hover > .datos-card  > .precio-Al{
        transform: translateY(-1.5em);
    }


    .view-more-button{
        position: absolute;
        padding: 1em;
        background-color: var(--grey);
        border: none;
        border-radius: 50%;
        cursor: pointer;
        z-index: 200;
    }

    .btn-left{
      left: -2em;
    }

    .btn-right{
      right: -2em;
    }

    @media screen and (max-width: 1280px){

      .carrito{
        top: 90%;
        left: 95%;
        width: 3em;
        height: 3em;
        animation-name: none;
        outline: 1px solid var(--black);
      }
      .numero-carrito{
        top: -5px;
        right: -5px;
        background-color: red;
        color: white;
        outline: none;
        width: 1.5em;
        height: 1.5em;
        padding: .2em;
      }

      .logo-carrito{
        transform: translate(0);
      }

      .arrow{
        display: none;
      }

      /* section */

      section > .h3, section > .articulos-container > .h3{
        padding: 0;
        margin: 1em 0;
      }

      .productos-container{
        width: 100%;
      }

      .producto-card-Al{
        justify-content: center;
        padding: 0;
      }

      #articulosAl > div:nth-child(1), #articulosAl > div:nth-child(4) {
        flex: 4 0 25em;
        height: 45em;
      }
  
      #articulosAl > div:nth-child(2), #articulosAl > div:nth-child(3){
        flex: 1 0 25em;
        height: 45em;
      }  

      .slider__section-Al{
        padding: 0;
      }

      .articulos-container{
        padding:0;
      }
      .articulos-container__articulos-slider{
        padding: 0em;
      }

      .btn-right, .btn-left{
        display: none;
      }

       .articulos{
        padding: 1em;
        overflow: scroll;
        outline: none;

      }

      /* width */
      .articulos::-webkit-scrollbar {
        height: 7px;
      }

      /* Track */
      .articulos::-webkit-scrollbar-track {
        border-radius: 10px;
      }
      
      /* Handle */
      .articulos::-webkit-scrollbar-thumb {
        background: rgb(233, 233, 233); 
        border-radius: 10px;
      }

      /* Handle on hover */
      .articulos::-webkit-scrollbar-thumb:hover {
        background: #c0c0c0; 
      }

       .articulos > div{
        min-width: 15em;
      }

        .producto-card{
        height: 24em;
        justify-content: space-between;
      }

        .datos-card{
        height: 5em;
        padding: 1.2em .5em;
      }

        .datos-card > .datos-card-text{
        width: 100%;
        padding: 0 .5em;
      }

        .btn-agregar-carrito, .btn-agregar-carritoAl{
        padding: 0;
        width: auto;
        position: absolute;
        top: 0;
        right: .5em;
        z-index: 500;
        background-color: transparent;


      }
      .btn-agregar-carritoAl{
        bottom: 0;
        right: 3em;
      }

       .btn-agregar-carrito > p, .btn-agregar-carritoAl > p{
        display: none;
      }

        .cart-add{
        transform: translateX(0em);
        opacity: 1;
        font-weight: 200;
        padding: .1em;
        background-color: transparent;
        color: var(--black);
        transition: transform ease-in-out .2s, opacity ease-in-out .2s;
      }

      .cart-addAl{
        font-size: 2em;
      }


        .btn-agregar-carrito:hover, 
        .btn-agregar-carritoAl:hover{
        background-color: transparent;
      }

        .btn-agregar-carrito:hover > .cart-add{
          transform: translateX(.2em);
      }

        .producto-card:hover > .datos-card > .btn-agregar-carrito{
        transform: scale(1.05);
      }

     

  


    }

    @media screen and (max-width: 425px){

      .producto-card-Al{
        gap: 0;
      }


      #articulosAl{
        gap: 1.5em;
      }

      #articulosAl > div:nth-child(1), 
      #articulosAl > div:nth-child(4),
      #articulosAl > div:nth-child(2), 
      #articulosAl > div:nth-child(3),
      #articulosAl > div:nth-child(5),
      #articulosAl > div:nth-child(6) {
        flex: 4 0 100%;
        height: auto;
      }
  
      .btn-agregar-carritoAl{
        bottom: 0;
        right: 1em;
      }

      .precioAl{
        font-size: 1.8em;
      }

/* calificacion */

    .destacados{
      display: block;
      flex-direction: column;
      justify-content: space-between;
      height: auto;
      position: absolute;
      background-color: rgb(230, 50, 50);
      color: white;
      font-size: auto;
      z-index: 1000;
      left: 1em;
      top: -.5em;
      box-shadow: 5px 5px 15px rgb(12, 12, 12, .2);

  }

    .destacados > p{
      display: none;
    }

    .calificacion{
      padding: .5em;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: .3em;
      margin: auto;
      cursor: pointer;

    }

    .calificaion-numero{
      font-size: 0em;
      transition: font-size ease-in-out .2s;
    }

    .calificacion > .star{
      transform: translate(-.15em) scale(1);
      transition: transform ease-in-out .2s;

    }

    .calificacion:hover >  .star{
      transform: translate(0em) scale(1);
      
    }

    .calificacion:hover > .calificaion-numero{
      font-size: .8em;
    }
    }